* {
    margin: 0;
    padding: 0;
    border-radius: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /*border: 1px black dotted;*/
}

h1, h2, h3, h4 {
    margin: auto;
    text-align: center;
    padding: 5px;
}

h5 {

}

.main {
    display: flex;
}

#toolPanel{
    background-color: #bbbbbb;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#templateTshort {
    height: 500px;
    width: 500px;
    background-color: #00bb00;
    border: 1px black dotted;
    display: flex;
}

.subPanel {
    border: 1px black dotted;
}

label {
    width: 150px;
    display: inline-block;
    cursor: pointer;
}

#myFont {
    /*height: 30px;*/
    width: 100px;
}

.colorInput,
.textSizeInput{
    /*height: 30px;*/
    width: 40px;
}

#allDesign input {
    border: 2px solid #888;
    display: inline-block;
}

#lettering {
    border: 1px black dotted;
    cursor: pointer;
    font-size: 20pt;
}

#inputLettering {
    border: none;
    width: 300px;
    height: 60px;
    position: absolute;
    background: none;
    font-size: 20pt;
    top: 200px;
    left: 200px;


    box-sizing: border-box;
    resize: none;


}

#inputLettering:focus {
    border: 3px solid #008;
    box-shadow: 0 0 1em #ff4208;
    cursor: text;
}

#inputLettering:hover {
    cursor: move;
}

.panelFontType {
    display: flex;

}

.buttonFontType {
    height: 30px;
    width: 30px;
    margin: 2px;
    line-height: 0.4em;
    /*justify-content: space-between;*/

}

.blankButon {
    width: 25px;
    background-color: #4CAF50;
}

#FontType_B {
    font-weight: 600;
}

#FontType_I {
    font-style: italic;
}

#FontType_U {
    text-decoration: underline;
}

#FontType_not {
    text-decoration: line-through;
}

#textAlign_L {
    text-align: left;
}

#textAlign_C {
    text-align: center;
}

#textAlign_R {
    text-align: right;
}
